CompileFlags:
  Add: [
    "-I/path/to/build",
    "-I/path/to/build/tsrc",
    
    "-I/path/to/src",
    "-I.",
    
    "-I/path/to/cuda_include",
    # installed with `brew install sqlite`
    "-I/opt/homebrew/opt/sqlite/include",

    "-isystem", "/Library/Developer/CommandLineTools/usr/include",
    "-isystem", "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include",

    "-xc",
    "-D__NVCC__",
    "-DSQLITE_THREADSAFE=1",
    "-DSQLITE_ENABLE_COLUMN_METADATA",
    "-DSQLITE_CORE"
  ]
  
  Remove: ["-arch", "arm64", "-isysroot", "-target"]
